@import "fonts";
@import "core/normalize";
@import "core/variables";
@import "core/typography";
@import "plugins/typist";
@import "plugins/react-infinite-calendar";
@import "components/header/header";

html {
	font-size: 62.5%;
	color: #fff;
	overflow: hidden;
	font-family: $fontMain;
}

.content-wrapper {
	width: 100vw;
	height: 100vh;
	background-image: url("../images/bg_carbon.png");
	background-size: 100vh auto;
	background-position: top;
	background-repeat: repeat no-repeat;
	overflow: hidden;
}
