.blobs {
  $left: 30%;
  filter: url('#goo');
  position: absolute;
  height: 5rem;
  top: 85%;
  left: 0;
  bottom: 0;
  right: 0;
  .blob {
    position: absolute;
    left: $left;
    width: 5rem;
    height: 5rem;
    margin-left: -2.5rem;
    border-radius: 100%;
    color: #fff;
    font-size: 3.2rem;
    line-height: 5rem;
    text-align: center;
    cursor: pointer;
    background: #e97b7a;
    transition: all .35s cubic-bezier(.93,.29,.07,.7);
    span {
      user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
    }
  }
  &:hover {
    .blob:nth-of-type(2) {
      left: $left + 15;
    }
    .blob:nth-of-type(3) {
      left: $left + 30;
    }
    .blob:nth-of-type(4) {
      left: $left + 45;
    }
  }
  svg {
    pointer-events: none;
  }
}
