.tooltip {
	position: absolute;
	padding: .4rem .8rem;
	text-align: center;
	font-size: 1.6rem;
	line-height: 1rem;
	font-weight:600;
	background-color: #353535;
	z-index: 500;
	visibility: hidden;
	&:before {
		content: '';
		position: absolute;
		width: .8rem;
		height: .8rem;
		background-color: #353535;
		transform: rotate(45deg);
		z-index: -1;
	}
}
.left {
	right: 135%;
	top: 50%;
	margin-top: -.8rem;
	&:before {
		left: 100%;
		top: 50%;
		margin-top: -.4rem;
		margin-left: -.6rem;
	}
}
.top {
	width: 5rem;
	bottom: 115%;
	left: -2.5rem;
	&:before {
		left: 50%;
		top: 100%;
		margin-top: -.4rem;
		margin-left: -.45rem;
	}
}
.right {
	left: 135%;
	top: 50%;
	margin-top: -.8rem;
	&:before {
		right: 100%;
		top: 50%;
		margin-top: -.4rem;
		margin-right: -.6rem;
	}
}
.bottom {
	width: 5rem;
	top: 115%;
	left: -2.5rem;
	&:before {
		left: 50%;
		bottom: 115%;
		margin-bottom: -.7rem;
		margin-left: -.45rem;
	}
}