h1, h2, h3, h4, h5, p {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 6.4rem;
	line-height: 7rem;
}
h2 {
	font-size: 4.8rem;
	line-height: 5.2rem;
	font-weight: 100;
}
h3 {
	font-size: 3.2rem;
	line-height: 3.6rem;
}
h4 {
	font-size: 2.8rem;
	line-height: 3rem;
}
h5 {
	font-size: 2.4rem;
	line-height: 2.6rem;
}
p {
	font-size: 2.2rem;
	line-height: 2rem;
}
.textHeader {
	font-family: $fontBit;
	font-size: 2.4rem;
	letter-spacing: 0.2rem;
	font-weight: 300;
}
.standardText {
	font-size: 2.2rem;
	line-height: 2rem;
	font-weight: 100;
	letter-spacing: 0.1rem;
}
