$fontBit: 'blowbrushregular';
$fontMain: 'chathura';

//colors
$lightRed: #F66D2E;
$baseRed: #F44D00;
$darkRed: #9C3200;

$lightBlue: #649CFF;
$baseBlue: #4287FF;
$darkBlue: #2A56A3;

$lightYellow: #F9D973;
$baseYellow: #F4BB00;
$darkYellow: #9C7700;

$lightGreen: #95DB49;
$baseGreen: #7ED321;
$darkGreen: #518715;

$paleGrey: #929292;
$lightGrey: #595959;
$baseGrey: #353535;
$darkGrey: #222222;
